@charset "UTF-8";
/*
* @Author: Marte
* @Date:   2017-10-27 22:43:42
* @Last Modified by:   Marte
* @Last Modified time: 2017-10-27 22:43:56
*/
/*
* @Author: Marte
* @Date:   2017-10-23 14:51:01
* @Last Modified by:   Marte
* @Last Modified time: 2017-10-24 20:40:50
*/
body, ul, li, dl, dd, dt, p, ol, h1, h2, h3, h4, h5, h6, form, img, table, fieldset {
  margin: 0;
  padding: 0;
  font-family: tahoma,'宋体';
  cursor: default; }

ul, li, ol {
  list-style: none; }

img, fieldset {
  border: 0; }

img {
  display: block; }

a {
  text-decoration: none;
  color: #333; }

a:hover {
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

body {
  font-size: 12px;
  font-family: "微软雅黑"; }

input, a {
  outline: none; }

i {
  font-style: normal; }

strong, b {
  font-weight: normal; }

#topcon {
  width: 100%;
  background: #f1f1f1; }

/* top */
.top {
  background: #f1f1f1;
  width: 1200px;
  height: 24px;
  border-bottom: 1px solid #e2e2e2;
  margin: 0 auto;
  padding-left: 7px; }
  .top ul li {
    float: left;
    line-height: 24px; }
  .top .left {
    float: left; }
    .top .left li a {
      margin-right: 11px; }
    .top .left li:nth-of-type(1) {
      background: url(../img/1.png) -2px 7px no-repeat;
      padding-left: 14px; }
    .top .left li:nth-of-type(1):hover {
      background: url(../img/1.png) -2px -13px no-repeat; }
      .top .left li:nth-of-type(1):hover a {
        text-decoration: underline; }
    .top .left li:nth-of-type(2) {
      background: url(../img/1.png) 0 -127px no-repeat;
      padding-left: 20px; }
    .top .left li:nth-of-type(2):hover {
      background: url(../img/1.png) 0 -152px no-repeat; }
      .top .left li:nth-of-type(2):hover a {
        text-decoration: underline; }
  .top .right {
    float: right; }
    .top .right li {
      padding: 0 8px; }
    .top .right li:nth-of-type(1) a:nth-of-type(1) {
      margin-right: 10px; }
    .top .right li:nth-of-type(1) a:nth-of-type(2) {
      margin-left: 10px; }
    .top .right li:nth-of-type(1) a:nth-of-type(1):hover {
      text-decoration: underline; }
    .top .right li:nth-of-type(1) a:nth-of-type(2):hover {
      text-decoration: underline; }
    .top .right li:nth-of-type(3) a:hover {
      text-decoration: underline; }
    .top .right li:nth-of-type(4) {
      position: relative; }
      .top .right li:nth-of-type(4) i {
        display: inline-block;
        width: 6px;
        height: 3px;
        line-height: 24px;
        background: url(../img/2.png) 0 -27px no-repeat;
        margin-left: 8px;
        margin-bottom: 3px; }
      .top .right li:nth-of-type(4) div {
        display: none;
        width: 93px;
        height: 26px;
        padding: 5px 10px;
        position: absolute;
        text-align: center;
        left: -36px;
        top: 23px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        border: 1px solid #eee;
        background: #fff; }
        .top .right li:nth-of-type(4) div a {
          color: #039;
          margin: 0 3px; }
        .top .right li:nth-of-type(4) div span {
          display: inline-block;
          width: 78px;
          height: 6px;
          position: absolute;
          right: 0;
          top: -4px;
          background: #fff; }
    .top .right li:nth-of-type(4):hover {
      background: #fff; }
      .top .right li:nth-of-type(4):hover > a {
        text-decoration: none; }
      .top .right li:nth-of-type(4):hover i {
        background: url(../img/2.png) -10px -27px no-repeat; }
      .top .right li:nth-of-type(4):hover div {
        display: block; }
    .top .right li:nth-of-type(5) a:hover {
      text-decoration: underline; }
    .top .right li:nth-of-type(6) {
      position: relative; }
      .top .right li:nth-of-type(6) i {
        display: inline-block;
        width: 6px;
        height: 3px;
        line-height: 24px;
        background: url(../img/2.png) 0 -27px no-repeat;
        margin-left: 8px;
        margin-bottom: 3px; }
      .top .right li:nth-of-type(6) .phone {
        display: none;
        width: 126px;
        position: absolute;
        z-index: 6;
        left: -68px;
        padding: 3px 10px 6px;
        background: #fff;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        text-align: center; }
        .top .right li:nth-of-type(6) .phone span {
          display: inline-block;
          width: 78px;
          height: 6px;
          position: absolute;
          right: 0;
          top: -4px;
          background: #fff; }
        .top .right li:nth-of-type(6) .phone a {
          color: #fff; }
        .top .right li:nth-of-type(6) .phone p:nth-of-type(1) {
          font-size: 14px;
          color: #fe7b23;
          font-weight: bold; }
        .top .right li:nth-of-type(6) .phone p:nth-of-type(2) {
          font-weight: bold; }
        .top .right li:nth-of-type(6) .phone strong:nth-of-type(1) {
          width: 60px;
          height: 25px;
          background: #4f9ee7;
          text-align: center;
          line-height: 25px;
          float: left;
          margin-right: 4px; }
        .top .right li:nth-of-type(6) .phone strong:nth-of-type(2) {
          width: 60px;
          height: 25px;
          background: #4f9ee7;
          text-align: center;
          line-height: 25px;
          float: left; }
    .top .right li:nth-of-type(6):hover {
      background: #fff; }
      .top .right li:nth-of-type(6):hover > a {
        text-decoration: none; }
      .top .right li:nth-of-type(6):hover i {
        background: url(../img/2.png) -10px -27px no-repeat; }
      .top .right li:nth-of-type(6):hover .phone {
        display: block; }
        .top .right li:nth-of-type(6):hover .phone a {
          text-decoration: none; }

/* logo */
.logo {
  width: 1200px;
  height: 86px;
  margin: 0 auto; }
  .logo > a {
    display: inline-block;
    width: 318px;
    height: 65px;
    background: url(../img/logo.png) no-repeat;
    margin: 11px 0 0 4px;
    float: left; }
  .logo #search {
    float: left;
    margin-left: 46px; }
    .logo #search input:nth-of-type(1) {
      width: 337px;
      height: 30px;
      border: 2px solid #f60;
      margin: 18px 0 10px;
      padding: 0 6px;
      float: left;
      color: #b7b7b7; }
    .logo #search input:nth-of-type(2) {
      width: 98px;
      height: 34px;
      background: #f60;
      color: #fff;
      border: 0;
      float: left;
      margin: 18px 0 10px; }
    .logo #search ul li {
      float: left;
      padding-right: 17px;
      border-right: 1px solid #767676;
      color: #767676;
      height: 12px;
      line-height: 12px;
      margin-left: 15px; }
    .logo #search ul li:nth-of-type(1) {
      margin-left: 6px; }
    .logo #search ul li:nth-of-type(5) {
      border-right: 0; }

/* nav */
#nav {
  width: 100%;
  height: 40px;
  background: #10286C; }

.navcon {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
  position: relative;
  /* 隐藏的二级菜单 */ }
  .navcon .shop {
    width: 179px;
    height: 40px;
    background: #f60;
    float: left;
    text-align: center;
    line-height: 40px;
    position: relative;
    /* 菜单栏 */ }
    .navcon .shop a {
      color: #fff;
      font: 14px/42px microsoft yahei;
      text-decoration: none; }
    .navcon .shop .menue {
      display: none;
      position: absolute;
      top: 39px;
      width: 175px;
      height: 465px;
      border: 2px solid #f60;
      overflow: hidden; }
      .navcon .shop .menue ul {
        text-align: left;
        overflow: hidden; }
        .navcon .shop .menue ul li {
          width: 100%;
          height: 60px;
          padding: 10px 15px 0 20px;
          border-bottom: 1px solid #e5e5e5;
          position: relative; }
          .navcon .shop .menue ul li h4 {
            height: 22px; }
            .navcon .shop .menue ul li h4 a {
              display: inline-block;
              height: 100%;
              line-height: 22px;
              color: #000;
              font-size: 14px;
              font-weight: bold;
              float: left;
              margin-right: 8px; }
          .navcon .shop .menue ul li div {
            height: 18px;
            margin-top: 2px; }
            .navcon .shop .menue ul li div > a {
              color: #666;
              margin-right: 6px;
              line-height: 18px;
              display: inline-block;
              height: 100%;
              float: left;
              font-size: 12px; }
        .navcon .shop .menue ul .list_01 strong {
          display: inline-block;
          width: 14px;
          height: 13px;
          background: url(../img/banner_sprit.png) 0 1px no-repeat;
          position: absolute;
          top: 15px;
          left: 4px; }
        .navcon .shop .menue ul .list_02 strong {
          display: inline-block;
          width: 14px;
          height: 13px;
          background: url(../img/banner_sprit.png) 0 -21px no-repeat;
          position: absolute;
          top: 15px;
          left: 4px; }
        .navcon .shop .menue ul .list_03 strong {
          display: inline-block;
          width: 14px;
          height: 13px;
          background: url(../img/banner_sprit.png) 0 -43px no-repeat;
          position: absolute;
          top: 15px;
          left: 4px; }
        .navcon .shop .menue ul .list_04 strong {
          display: inline-block;
          width: 14px;
          height: 13px;
          background: url(../img/banner_sprit.png) 0 -63px no-repeat;
          position: absolute;
          top: 15px;
          left: 4px; }
        .navcon .shop .menue ul .list_05 {
          border-bottom: 0;
          height: 171px; }
          .navcon .shop .menue ul .list_05 strong {
            display: inline-block;
            width: 14px;
            height: 13px;
            background: url(../img/banner_sprit.png) 0 -84px no-repeat;
            position: absolute;
            top: 15px;
            left: 4px; }
          .navcon .shop .menue ul .list_05 > div {
            height: 21px;
            line-height: 27px;
            position: absolute;
            padding-left: 20px;
            width: 100%;
            left: 0px;
            padding-top: 6px; }
          .navcon .shop .menue ul .list_05 > div:nth-of-type(1) {
            top: 30px; }
          .navcon .shop .menue ul .list_05 > div:nth-of-type(2) {
            top: 60px; }
          .navcon .shop .menue ul .list_05 > div:nth-of-type(3) {
            top: 90px; }
          .navcon .shop .menue ul .list_05 > div:nth-of-type(4) {
            top: 120px; }
          .navcon .shop .menue ul .list_05 > div:nth-of-type(5) {
            top: 150px; }
  .navcon > ul {
    float: left; }
    .navcon > ul li {
      float: left;
      padding: 0 20px;
      height: 40px;
      line-height: 40px; }
      .navcon > ul li a {
        color: #fff;
        font: 14px/40px microsoft yahei; }
      .navcon > ul li a:hover {
        text-decoration: none; }
    .navcon > ul li:hover {
      background: blue; }
    .navcon > ul li:nth-of-type(1) {
      padding-left: 30px; }
  .navcon .nav_right {
    float: right;
    position: relative; }
    .navcon .nav_right a {
      display: inline-block;
      width: 111px;
      height: 36px;
      color: #fff;
      background: #f60;
      border: 2px solid #f60;
      text-align: center;
      line-height: 36px;
      float: left;
      text-decoration: none;
      position: relative; }
      .navcon .nav_right a span {
        color: #ffb380;
        margin: 0 8px; }
      .navcon .nav_right a i {
        display: inline-block;
        border: 4px solid;
        border-color: #fff transparent transparent transparent;
        width: 0;
        height: 0;
        position: absolute;
        top: 17px;
        right: 7px; }
      .navcon .nav_right a strong {
        display: inline-block;
        width: 1px;
        height: 22px;
        background: #fa8b29;
        margin-top: 7px;
        position: absolute;
        right: -2px; }
    .navcon .nav_right a:hover {
      background: #fff;
      color: #666; }
      .navcon .nav_right a:hover i {
        border-color: transparent transparent #666 transparent;
        top: 12px; }
    .navcon .nav_right > div {
      width: 226px;
      height: 80px;
      text-align: center;
      position: absolute;
      top: 36px;
      background: #fff;
      color: #999;
      border: 2px solid #f60;
      z-index: 1000; }
    .navcon .nav_right .nav_pop1 {
      line-height: 19px;
      display: none;
      position: absolute; }
      .navcon .nav_right .nav_pop1 i {
        width: 226px;
        height: 20px;
        display: inline-block;
        background: url(../img/sprite_v140425.png) 0 -1081px no-repeat;
        margin-top: 30px;
        margin-left: 10px; }
      .navcon .nav_right .nav_pop1 span {
        display: inline-block;
        width: 110px;
        height: 4px;
        background: #fff;
        position: absolute;
        left: 0;
        top: -2px; }
    .navcon .nav_right .nav_pop2 {
      display: none;
      position: absolute;
      padding-top: 26px;
      height: 54px; }
      .navcon .nav_right .nav_pop2 i {
        display: inline-block;
        width: 46px;
        height: 25px;
        background: #f60;
        text-align: center;
        line-height: 24px;
        margin-left: 6px; }
      .navcon .nav_right .nav_pop2 span {
        display: inline-block;
        width: 110px;
        height: 4px;
        background: #fff;
        position: absolute;
        right: 0;
        top: -2px; }
  .navcon .three {
    position: absolute;
    z-index: 666;
    left: 155px;
    top: 34px;
    width: 785px;
    height: 470px;
    background: #FFF;
    padding: 14px 0 0 20px;
    border-left: 1px solid #CFCFCF;
    box-shadow: 1px 1px 1px #ccc; }
    .navcon .three ul {
      float: left;
      width: 505px;
      margin-bottom: 14px; }
      .navcon .three ul h5 {
        float: left;
        font-weight: bold;
        font-size: 12px;
        text-align: center;
        line-height: 16px;
        width: 62px;
        margin-top: 5px; }
      .navcon .three ul li {
        float: left;
        margin: 5px 10px; }
        .navcon .three ul li a {
          color: #666; }
  .navcon .three_01 {
    display: none; }
    .navcon .three_01 > span {
      display: inline-block;
      width: 4px;
      height: 70px;
      background: #fff;
      position: absolute;
      left: -3px;
      top: 7px; }
    .navcon .three_01 div {
      float: right;
      position: absolute;
      right: 120px; }
      .navcon .three_01 div h5 {
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 4px; }
      .navcon .three_01 div i {
        display: block;
        width: 100px;
        height: 40px;
        background: url(../img/logo1.jpg) no-repeat; }
  .navcon .three_02 {
    display: none;
    background: url(../img/mate9tj.jpg) no-repeat; }
    .navcon .three_02 > span {
      display: inline-block;
      width: 4px;
      height: 70px;
      background: #fff;
      position: absolute;
      left: -3px;
      top: 77px; }
    .navcon .three_02 > div {
      float: right;
      position: absolute;
      right: 23px; }
      .navcon .three_02 > div > div {
        display: flex; }
        .navcon .three_02 > div > div > div:nth-of-type(1) {
          border-bottom: 1px solid #ccc; }
          .navcon .three_02 > div > div > div:nth-of-type(1) i {
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc; }
          .navcon .three_02 > div > div > div:nth-of-type(1) i:nth-of-type(1) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/apple.jpg) 0 -40px no-repeat; }
          .navcon .three_02 > div > div > div:nth-of-type(1) i:nth-of-type(1):hover {
            background: url(../img/apple.jpg) 0 0 no-repeat; }
          .navcon .three_02 > div > div > div:nth-of-type(1) i:nth-of-type(2) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/huaweibannera.jpg) 0 -40px no-repeat; }
          .navcon .three_02 > div > div > div:nth-of-type(1) i:nth-of-type(2):hover {
            background: url(../img/huaweibannera.jpg) 0 0 no-repeat; }
          .navcon .three_02 > div > div > div:nth-of-type(1) i:nth-of-type(3) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/xiaomibannera.jpg) 0 -40px no-repeat; }
          .navcon .three_02 > div > div > div:nth-of-type(1) i:nth-of-type(3):hover {
            background: url(../img/xiaomibannera.jpg) 0 0 no-repeat; }
        .navcon .three_02 > div > div > div:nth-of-type(2) {
          border-bottom: 1px solid #ccc;
          border-right: 1px solid #ccc; }
          .navcon .three_02 > div > div > div:nth-of-type(2) i {
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc; }
          .navcon .three_02 > div > div > div:nth-of-type(2) i:nth-of-type(1) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/meizubannera.jpg) 0 -40px no-repeat; }
          .navcon .three_02 > div > div > div:nth-of-type(2) i:nth-of-type(1):hover {
            background: url(../img/meizubannera.jpg) 0 0 no-repeat; }
          .navcon .three_02 > div > div > div:nth-of-type(2) i:nth-of-type(2) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/jianengbannerb.jpg) 0 -39px no-repeat; }
          .navcon .three_02 > div > div > div:nth-of-type(2) i:nth-of-type(2):hover {
            background: url(../img/jianengbannerb.jpg) 0 0 no-repeat; }
          .navcon .three_02 > div > div > div:nth-of-type(2) i:nth-of-type(3) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/nikangbannera.jpg) 0 -40px no-repeat; }
          .navcon .three_02 > div > div > div:nth-of-type(2) i:nth-of-type(3):hover {
            background: url(../img/nikangbannera.jpg) 0 0 no-repeat; }
      .navcon .three_02 > div h5 {
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 4px; }
  .navcon .three_03 {
    display: none; }
    .navcon .three_03 > span {
      display: inline-block;
      width: 4px;
      height: 70px;
      background: #fff;
      position: absolute;
      left: -3px;
      top: 147px; }
    .navcon .three_03 > div {
      float: right;
      position: absolute;
      right: 23px; }
      .navcon .three_03 > div > div {
        display: flex; }
        .navcon .three_03 > div > div > div:nth-of-type(1) {
          border-bottom: 1px solid #ccc; }
          .navcon .three_03 > div > div > div:nth-of-type(1) i {
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc; }
          .navcon .three_03 > div > div > div:nth-of-type(1) i:nth-of-type(1) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/thinkpad.jpg) 0 -40px no-repeat; }
          .navcon .three_03 > div > div > div:nth-of-type(1) i:nth-of-type(1):hover {
            background: url(../img/thinkpad.jpg) 0 0 no-repeat; }
          .navcon .three_03 > div > div > div:nth-of-type(1) i:nth-of-type(2) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/asus.jpg) 0 -40px no-repeat; }
          .navcon .three_03 > div > div > div:nth-of-type(1) i:nth-of-type(2):hover {
            background: url(../img/asus.jpg) 0 0 no-repeat; }
          .navcon .three_03 > div > div > div:nth-of-type(1) i:nth-of-type(3) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/dell.jpg) 0 -40px no-repeat; }
          .navcon .three_03 > div > div > div:nth-of-type(1) i:nth-of-type(3):hover {
            background: url(../img/dell.jpg) 0 0 no-repeat; }
        .navcon .three_03 > div > div > div:nth-of-type(2) {
          border-bottom: 1px solid #ccc;
          border-right: 1px solid #ccc; }
          .navcon .three_03 > div > div > div:nth-of-type(2) i {
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc; }
          .navcon .three_03 > div > div > div:nth-of-type(2) i:nth-of-type(1) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/hp.jpg) 0 -40px no-repeat; }
          .navcon .three_03 > div > div > div:nth-of-type(2) i:nth-of-type(1):hover {
            background: url(../img/hp.jpg) 0 0 no-repeat; }
          .navcon .three_03 > div > div > div:nth-of-type(2) i:nth-of-type(2) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/lenovologo1.jpg) 0 -40px no-repeat; }
          .navcon .three_03 > div > div > div:nth-of-type(2) i:nth-of-type(2):hover {
            background: url(../img/lenovologo1.jpg) 0 0 no-repeat; }
          .navcon .three_03 > div > div > div:nth-of-type(2) i:nth-of-type(3) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/microsoftb.jpg) 0 -42px no-repeat; }
          .navcon .three_03 > div > div > div:nth-of-type(2) i:nth-of-type(3):hover {
            background: url(../img/microsoftb.jpg) 0 0 no-repeat; }
      .navcon .three_03 > div h5 {
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 4px; }
  .navcon .three_04 {
    display: none; }
    .navcon .three_04 > span {
      display: inline-block;
      width: 4px;
      height: 70px;
      background: #fff;
      position: absolute;
      left: -3px;
      top: 218px; }
    .navcon .three_04 > div {
      float: right;
      position: absolute;
      right: 23px; }
      .navcon .three_04 > div > div {
        display: flex; }
        .navcon .three_04 > div > div > div:nth-of-type(1) {
          border-bottom: 1px solid #ccc; }
          .navcon .three_04 > div > div > div:nth-of-type(1) i {
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc; }
          .navcon .three_04 > div > div > div:nth-of-type(1) i:nth-of-type(1) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/philips.jpg) 0 -40px no-repeat; }
          .navcon .three_04 > div > div > div:nth-of-type(1) i:nth-of-type(1):hover {
            background: url(../img/philips.jpg) 0 0 no-repeat; }
          .navcon .three_04 > div > div > div:nth-of-type(1) i:nth-of-type(2) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/suporlogo1.jpg) 0 -40px no-repeat; }
          .navcon .three_04 > div > div > div:nth-of-type(1) i:nth-of-type(2):hover {
            background: url(../img/suporlogo1.jpg) 0 0 no-repeat; }
          .navcon .three_04 > div > div > div:nth-of-type(1) i:nth-of-type(3) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/midea.jpg) 0 -40px no-repeat; }
          .navcon .three_04 > div > div > div:nth-of-type(1) i:nth-of-type(3):hover {
            background: url(../img/midea.jpg) 0 0 no-repeat; }
        .navcon .three_04 > div > div > div:nth-of-type(2) {
          border-bottom: 1px solid #ccc;
          border-right: 1px solid #ccc; }
          .navcon .three_04 > div > div > div:nth-of-type(2) i {
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc; }
          .navcon .three_04 > div > div > div:nth-of-type(2) i:nth-of-type(1) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/panasonic.jpg) 0 -40px no-repeat; }
          .navcon .three_04 > div > div > div:nth-of-type(2) i:nth-of-type(1):hover {
            background: url(../img/panasonic.jpg) 0 0 no-repeat; }
          .navcon .three_04 > div > div > div:nth-of-type(2) i:nth-of-type(2) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/suporlogo1.jpg) 0 -40px no-repeat; }
          .navcon .three_04 > div > div > div:nth-of-type(2) i:nth-of-type(2):hover {
            background: url(../img/suporlogo1.jpg) 0 0 no-repeat; }
          .navcon .three_04 > div > div > div:nth-of-type(2) i:nth-of-type(3) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/floor2_sharp.jpg) 0 -42px no-repeat; }
          .navcon .three_04 > div > div > div:nth-of-type(2) i:nth-of-type(3):hover {
            background: url(../img/floor2_sharp.jpg) 0 0 no-repeat; }
      .navcon .three_04 > div h5 {
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 4px; }
  .navcon .three_05 {
    display: none;
    background: url(../img/kiddy.jpg) no-repeat; }
    .navcon .three_05 > span {
      display: inline-block;
      width: 4px;
      height: 27px;
      background: #fff;
      position: absolute;
      left: -3px;
      top: 325px; }
    .navcon .three_05 > div {
      float: right;
      position: absolute;
      right: 23px; }
      .navcon .three_05 > div > div {
        display: flex; }
        .navcon .three_05 > div > div > div:nth-of-type(1) {
          border-bottom: 1px solid #ccc; }
          .navcon .three_05 > div > div > div:nth-of-type(1) i {
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc; }
          .navcon .three_05 > div > div > div:nth-of-type(1) i:nth-of-type(1) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/microsoftb.jpg) 0 -42px no-repeat; }
          .navcon .three_05 > div > div > div:nth-of-type(1) i:nth-of-type(1):hover {
            background: url(../img/microsoftb.jpg) 0 0 no-repeat; }
          .navcon .three_05 > div > div > div:nth-of-type(1) i:nth-of-type(2) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/panasoniclogo1.jpg) 0 -40px no-repeat; }
          .navcon .three_05 > div > div > div:nth-of-type(1) i:nth-of-type(2):hover {
            background: url(../img/panasoniclogo1.jpg) 0 0 no-repeat; }
        .navcon .three_05 > div > div > div:nth-of-type(2) {
          border-bottom: 1px solid #ccc;
          border-right: 1px solid #ccc; }
          .navcon .three_05 > div > div > div:nth-of-type(2) i {
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc; }
          .navcon .three_05 > div > div > div:nth-of-type(2) i:nth-of-type(1) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/sony.jpg) 0 -38px no-repeat; }
          .navcon .three_05 > div > div > div:nth-of-type(2) i:nth-of-type(1):hover {
            background: url(../img/sony.jpg) 0 0 no-repeat; }
          .navcon .three_05 > div > div > div:nth-of-type(2) i:nth-of-type(2) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/lg.jpg) 0 -40px no-repeat; }
          .navcon .three_05 > div > div > div:nth-of-type(2) i:nth-of-type(2):hover {
            background: url(../img/lg.jpg) 0 0 no-repeat; }
      .navcon .three_05 > div h5 {
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 4px; }
  .navcon .three_06 {
    display: none; }
    .navcon .three_06 > span {
      display: inline-block;
      width: 4px;
      height: 27px;
      background: #fff;
      position: absolute;
      left: -3px;
      top: 355px; }
    .navcon .three_06 > div {
      float: right;
      position: absolute;
      right: 23px; }
      .navcon .three_06 > div > div {
        display: flex; }
        .navcon .three_06 > div > div > div:nth-of-type(1) {
          border-bottom: 1px solid #ccc; }
          .navcon .three_06 > div > div > div:nth-of-type(1) i {
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc; }
          .navcon .three_06 > div > div > div:nth-of-type(1) i:nth-of-type(1) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/hp.jpg) 0 -40px no-repeat; }
          .navcon .three_06 > div > div > div:nth-of-type(1) i:nth-of-type(1):hover {
            background: url(../img/hp.jpg) 0 0 no-repeat; }
          .navcon .three_06 > div > div > div:nth-of-type(1) i:nth-of-type(2) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/gg.jpg) 0 -40px no-repeat; }
          .navcon .three_06 > div > div > div:nth-of-type(1) i:nth-of-type(2):hover {
            background: url(../img/gg.jpg) 0 0 no-repeat; }
          .navcon .three_06 > div > div > div:nth-of-type(1) i:nth-of-type(3) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/pilot.jpg) 0 -40px no-repeat; }
          .navcon .three_06 > div > div > div:nth-of-type(1) i:nth-of-type(3):hover {
            background: url(../img/pilot.jpg) 0 0 no-repeat; }
        .navcon .three_06 > div > div > div:nth-of-type(2) {
          border-bottom: 1px solid #ccc;
          border-right: 1px solid #ccc; }
          .navcon .three_06 > div > div > div:nth-of-type(2) i {
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc; }
          .navcon .three_06 > div > div > div:nth-of-type(2) i:nth-of-type(1) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/mitsubishi.jpg) 0 -40px no-repeat; }
          .navcon .three_06 > div > div > div:nth-of-type(2) i:nth-of-type(1):hover {
            background: url(../img/mitsubishi.jpg) 0 0 no-repeat; }
          .navcon .three_06 > div > div > div:nth-of-type(2) i:nth-of-type(2) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/pilot.jpg) 0 -40px no-repeat; }
          .navcon .three_06 > div > div > div:nth-of-type(2) i:nth-of-type(2):hover {
            background: url(../img/pilot.jpg) 0 0 no-repeat; }
          .navcon .three_06 > div > div > div:nth-of-type(2) i:nth-of-type(3) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/3m.jpg) 0 -40px no-repeat; }
          .navcon .three_06 > div > div > div:nth-of-type(2) i:nth-of-type(3):hover {
            background: url(../img/3m.jpg) 0 0 no-repeat; }
      .navcon .three_06 > div h5 {
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 4px; }
  .navcon .three_07 {
    display: none; }
    .navcon .three_07 > span {
      display: inline-block;
      width: 4px;
      height: 27px;
      background: #fff;
      position: absolute;
      left: -3px;
      top: 385px; }
    .navcon .three_07 > div {
      float: right;
      position: absolute;
      right: 23px; }
      .navcon .three_07 > div > div {
        display: flex; }
        .navcon .three_07 > div > div > div:nth-of-type(1) {
          border-bottom: 1px solid #ccc; }
          .navcon .three_07 > div > div > div:nth-of-type(1) i {
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc; }
          .navcon .three_07 > div > div > div:nth-of-type(1) i:nth-of-type(1) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/tissot1.jpg) 0 -40px no-repeat; }
          .navcon .three_07 > div > div > div:nth-of-type(1) i:nth-of-type(1):hover {
            background: url(../img/tissot1.jpg) 0 0 no-repeat; }
          .navcon .three_07 > div > div > div:nth-of-type(1) i:nth-of-type(2) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/weigushi.jpg) 0 -40px no-repeat; }
          .navcon .three_07 > div > div > div:nth-of-type(1) i:nth-of-type(2):hover {
            background: url(../img/weigushi.jpg) 0 0 no-repeat; }
          .navcon .three_07 > div > div > div:nth-of-type(1) i:nth-of-type(3) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/handlove.jpg) 0 -40px no-repeat; }
          .navcon .three_07 > div > div > div:nth-of-type(1) i:nth-of-type(3):hover {
            background: url(../img/handlove.jpg) 0 0 no-repeat; }
        .navcon .three_07 > div > div > div:nth-of-type(2) {
          border-bottom: 1px solid #ccc;
          border-right: 1px solid #ccc; }
          .navcon .three_07 > div > div > div:nth-of-type(2) i {
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc; }
          .navcon .three_07 > div > div > div:nth-of-type(2) i:nth-of-type(1) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/casio.jpg) 0 -40px no-repeat; }
          .navcon .three_07 > div > div > div:nth-of-type(2) i:nth-of-type(1):hover {
            background: url(../img/casio.jpg) 0 0 no-repeat; }
          .navcon .three_07 > div > div > div:nth-of-type(2) i:nth-of-type(2) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/xonix1.jpg) 0 -40px no-repeat; }
          .navcon .three_07 > div > div > div:nth-of-type(2) i:nth-of-type(2):hover {
            background: url(../img/xonix1.jpg) 0 0 no-repeat; }
          .navcon .three_07 > div > div > div:nth-of-type(2) i:nth-of-type(3) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/timex1.jpg) 0 -40px no-repeat; }
          .navcon .three_07 > div > div > div:nth-of-type(2) i:nth-of-type(3):hover {
            background: url(../img/timex1.jpg) 0 0 no-repeat; }
      .navcon .three_07 > div h5 {
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 4px; }
  .navcon .three_08 {
    display: none; }
    .navcon .three_08 > span {
      display: inline-block;
      width: 4px;
      height: 27px;
      background: #fff;
      position: absolute;
      left: -3px;
      top: 415px; }
    .navcon .three_08 > div {
      float: right;
      position: absolute;
      right: 23px; }
      .navcon .three_08 > div > div {
        display: flex; }
        .navcon .three_08 > div > div > div:nth-of-type(1) {
          border-bottom: 1px solid #ccc; }
          .navcon .three_08 > div > div > div:nth-of-type(1) i {
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc; }
          .navcon .three_08 > div > div > div:nth-of-type(1) i:nth-of-type(1) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/baneberry.jpg) 0 -40px no-repeat; }
          .navcon .three_08 > div > div > div:nth-of-type(1) i:nth-of-type(1):hover {
            background: url(../img/baneberry.jpg) 0 0 no-repeat; }
          .navcon .three_08 > div > div > div:nth-of-type(1) i:nth-of-type(2) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/swisswin1.jpg) 0 -40px no-repeat; }
          .navcon .three_08 > div > div > div:nth-of-type(1) i:nth-of-type(2):hover {
            background: url(../img/swisswin1.jpg) 0 0 no-repeat; }
          .navcon .three_08 > div > div > div:nth-of-type(1) i:nth-of-type(3) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/teemzone1.jpg) 0 -40px no-repeat;
            border-right: 1px solid #ccc; }
          .navcon .three_08 > div > div > div:nth-of-type(1) i:nth-of-type(3):hover {
            background: url(../img/teemzone1.jpg) 0 0 no-repeat; }
        .navcon .three_08 > div > div > div:nth-of-type(2) i {
          border-top: 1px solid #ccc;
          border-left: 1px solid #ccc; }
        .navcon .three_08 > div > div > div:nth-of-type(2) i:nth-of-type(1) {
          display: block;
          width: 100px;
          height: 40px;
          background: url(../img/weekender.jpg) 0 -40px no-repeat;
          border-right: 1px solid #ccc; }
        .navcon .three_08 > div > div > div:nth-of-type(2) i:nth-of-type(1):hover {
          background: url(../img/weekender.jpg) 0 0 no-repeat;
          border-right: 1px solid #ccc; }
        .navcon .three_08 > div > div > div:nth-of-type(2) i:nth-of-type(2) {
          display: block;
          width: 100px;
          height: 40px;
          background: url(../img/byun.jpg) 0 -40px no-repeat;
          border-bottom: 1px solid #ccc;
          border-right: 1px solid #ccc; }
        .navcon .three_08 > div > div > div:nth-of-type(2) i:nth-of-type(2):hover {
          background: url(../img/byun.jpg) 0 0 no-repeat; }
      .navcon .three_08 > div h5 {
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 4px; }
  .navcon .three_09 {
    display: none; }
    .navcon .three_09 > span {
      display: inline-block;
      width: 4px;
      height: 27px;
      background: #fff;
      position: absolute;
      left: -3px;
      top: 445px; }
    .navcon .three_09 > div {
      float: right;
      position: absolute;
      right: 23px; }
      .navcon .three_09 > div > div {
        display: flex; }
        .navcon .three_09 > div > div > div:nth-of-type(1) {
          border-bottom: 1px solid #ccc; }
          .navcon .three_09 > div > div > div:nth-of-type(1) i {
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc; }
          .navcon .three_09 > div > div > div:nth-of-type(1) i:nth-of-type(1) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/7wolves1.jpg) 0 -40px no-repeat; }
          .navcon .three_09 > div > div > div:nth-of-type(1) i:nth-of-type(1):hover {
            background: url(../img/7wolves1.jpg) 0 0 no-repeat; }
          .navcon .three_09 > div > div > div:nth-of-type(1) i:nth-of-type(2) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/lesmart1.jpg) 0 -40px no-repeat; }
          .navcon .three_09 > div > div > div:nth-of-type(1) i:nth-of-type(2):hover {
            background: url(../img/lesmart1.jpg) 0 0 no-repeat; }
          .navcon .three_09 > div > div > div:nth-of-type(1) i:nth-of-type(3) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/weishi.jpg) 0 -40px no-repeat; }
          .navcon .three_09 > div > div > div:nth-of-type(1) i:nth-of-type(3):hover {
            background: url(../img/weishi.jpg) 0 0 no-repeat; }
        .navcon .three_09 > div > div > div:nth-of-type(2) {
          border-bottom: 1px solid #ccc;
          border-right: 1px solid #ccc; }
          .navcon .three_09 > div > div > div:nth-of-type(2) i {
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc; }
          .navcon .three_09 > div > div > div:nth-of-type(2) i:nth-of-type(1) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/garmin.jpg) 0 -40px no-repeat; }
          .navcon .three_09 > div > div > div:nth-of-type(2) i:nth-of-type(1):hover {
            background: url(../img/garmin.jpg) 0 0 no-repeat; }
          .navcon .three_09 > div > div > div:nth-of-type(2) i:nth-of-type(2) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/shengfulan.jpg) 0 -40px no-repeat; }
          .navcon .three_09 > div > div > div:nth-of-type(2) i:nth-of-type(2):hover {
            background: url(../img/shengfulan.jpg) 0 0 no-repeat; }
          .navcon .three_09 > div > div > div:nth-of-type(2) i:nth-of-type(3) {
            display: block;
            width: 100px;
            height: 40px;
            background: url(../img/lieying2.jpg) 0 -40px no-repeat; }
          .navcon .three_09 > div > div > div:nth-of-type(2) i:nth-of-type(3):hover {
            background: url(../img/lieying2.jpg) 0 0 no-repeat; }
      .navcon .three_09 > div h5 {
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 4px; }
