div,img,ul,li,body,span,a{margin:0;padding:0;}
a{text-decoration: none;}
li,ul{list-style: none;}
#slider{height:100%;position:relative;width:100%;overflow:hidden;}
#slider .slider-room{width:2310px;position:absolute;height:100%;}
#slider .slider-room li{float:left;width:770px;height:244px;};
#slider .slider-room li img{width:770px;height:244px;}
#slider .slider-room li a{display:block;width:100%;height:100%;}
#slider .radius{position:absolute;height:26px;right:8px;bottom:9px;text-align:center;}
#slider .radius .move-radius{float: left;display: inline-block;width: 26px;height: 26px;text-align: :center;line-height: 26px;margin-left: 10px;cursor: pointer;position:relative;background:#737373;border-radius:50%;top:3px;color: #fff;
}

#slider_01{height:100%;position:relative;width:100%;overflow:hidden;}
#slider_01 .slider-room_01{width:678px;position:absolute;height:100%;}
#slider_01 .slider-room_01 li{float:left;width:226px;height:241px;};
#slider_01 .slider-room_01 li img{width:226px;height:241px;}
#slider_01 .slider-room_01 li a{display:block;width:100%;height:100%;}
#slider_01 .radius{position:absolute;height:26px;left:8px;top:8px;text-align:center;}
#slider_01 .radius .move-radius_01{float: left;display: inline-block;width: 10px;height: 10px;text-align: :center;line-height: 26px;margin-left: 10px;cursor: pointer;position:relative;background:#737373;border-radius:50%;top:3px;color: #fff;
}

#slider_02{height:100%;position:relative;width:100%;overflow:hidden;}
#slider_02 .slider-room_02{width:678px;position:absolute;height:100%;}
#slider_02 .slider-room_02 li{float:left;width:226px;height:241px;};
#slider_02 .slider-room_02 li img{width:226px;height:241px;}
#slider_02 .slider-room_02 li a{display:block;width:100%;height:100%;}
#slider_02 .radius{position:absolute;height:26px;left:8px;top:8px;text-align:center;}
#slider_02 .radius .move-radius_02{float: left;display: inline-block;width: 10px;height: 10px;text-align: :center;line-height: 26px;margin-left: 10px;cursor: pointer;position:relative;background:#737373;border-radius:50%;top:3px;color: #fff;
}

#slider_03{height:100%;position:relative;width:100%;overflow:hidden;}
#slider_03 .slider-room_03{width:1455px;position:absolute;height:100%;}
#slider_03 .slider-room_03 li{float:left;width:485px;height:205px;};
#slider_03 .slider-room_03 li img{width:485px;height:205px;}
#slider_03 .slider-room_03 li a{display:block;width:100%;height:100%;}
#slider_03 .radius{position:absolute;height:16px;right: 5px;bottom: 6px;text-align:center;}
#slider_03 .radius .move-radius_03{float: left;display: inline-block;width: 18px;height: 16px;text-align: :center;line-height: 16px;margin-left: 10px;cursor: pointer;position:relative;background:#737373;border-radius:50%;top:3px;color: #fff;
    font-size: 12px;
}

#slider_04{height:100%;position:relative;width:100%;overflow:hidden;}
#slider_04 .slider-room_04{width:1455px;position:absolute;height:100%;}
#slider_04 .slider-room_04 li{float:left;width:485px;height:205px;};
#slider_04 .slider-room_04 li img{width:485px;height:205px;}
#slider_04 .slider-room_04 li a{display:block;width:100%;height:100%;}
#slider_04 .radius{position:absolute;height:16px;right: 5px;bottom: 6px;text-align:center;}
#slider_04 .radius .move-radius_04{float: left;display: inline-block;width: 18px;height: 16px;text-align: :center;line-height: 16px;margin-left: 10px;cursor: pointer;position:relative;background:#737373;border-radius:50%;top:3px;color: #fff;
    font-size: 12px;
}
#slider_05{height:100%;position:relative;width:100%;overflow:hidden;}
#slider_05 .slider-room_05{width:1457px;position:absolute;height:100%;}
#slider_05 .slider-room_05 li{float:left;width:485px;height:205px;};
#slider_05 .slider-room_05 li img{width:485px;height:205px;}
#slider_05 .slider-room_05 li a{display:block;width:100%;height:100%;}
#slider_05 .radius{position:absolute;height:16px;right: 5px;bottom: 6px;text-align:center;}
#slider_05 .radius .move-radius_05{float: left;display: inline-block;width: 18px;height: 16px;text-align: :center;line-height: 16px;margin-left: 10px;cursor: pointer;position:relative;background:#737373;border-radius:50%;top:3px;color: #fff;
    font-size: 12px;
}
#slider_06{height:100%;position:relative;width:100%;overflow:hidden;}
#slider_06 .slider-room_06{width:1457px;position:absolute;height:100%;}
#slider_06 .slider-room_06 li{float:left;width:485px;height:205px;};
#slider_06 .slider-room_06 li img{width:485px;height:205px;}
#slider_06 .slider-room_06 li a{display:block;width:100%;height:100%;}
#slider_06 .radius{position:absolute;height:16px;right: 5px;bottom: 6px;text-align:center;}
#slider_06 .radius .move-radius_06{float: left;display: inline-block;width: 18px;height: 16px;text-align: :center;line-height: 16px;margin-left: 10px;cursor: pointer;position:relative;background:#737373;border-radius:50%;top:3px;color: #fff;
    font-size: 12px;
}
#slider_07{height:100%;position:relative;width:100%;overflow:hidden;}
#slider_07 .slider-room_07{width:1457px;position:absolute;height:100%;}
#slider_07 .slider-room_07 li{float:left;width:485px;height:205px;};
#slider_07 .slider-room_07 li img{width:485px;height:205px;}
#slider_07 .slider-room_07 li a{display:block;width:100%;height:100%;}
#slider_07 .radius{position:absolute;height:16px;right: 5px;bottom: 6px;text-align:center;}
#slider_07 .radius .move-radius_07{float: left;display: inline-block;width: 18px;height: 16px;text-align: :center;line-height: 16px;margin-left: 10px;cursor: pointer;position:relative;background:#737373;border-radius:50%;top:3px;color: #fff;
    font-size: 12px;
}
/*#slider_09{height:100%;position:relative;width:100%;overflow:hidden;}
#slider_09 .slider-room_09{width:690px;position:absolute;height:100%;}
#slider_09 .slider-room_09 li{float:left;width:230px;height:123px;};
#slider_09 .slider-room_09 li img{width:230px;height:123px;}
#slider_09 .slider-room_09 li a{display:block;width:100%;height:100%;}*/
#slider_09{height:100%;position:relative;width:100%;overflow:hidden;}
#slider_09 .slider-room_09{width:690px;position:absolute;height:100%;}
#slider_09 .slider-room_09 li{float:left;width:230px;height:123px;};
#slider_09 .slider-room_09 li img{width:230px;height:123px;}
#slider_09 .slider-room_09 li a{display:block;width:100%;height:100%;}
#slider_09 .radius{position:absolute;height:16px;right: 5px;bottom: 6px;text-align:center;}
#slider_09 .radius .move-radius_09{float: left;display: inline-block;width: 18px;height: 16px;text-align: :center;line-height: 16px;margin-left: 10px;cursor: pointer;position:relative;background:#737373;border-radius:50%;top:3px;color: #fff;
    font-size: 12px;opacity: 0;
}